%field{
      padding: 0.75rem;
      border: 1px solid #ddd;
      border-radius: 7px;
}

.contact{
      a{
            color: #333;
            display: block;
            text-decoration: none;
            width: 20%;
            margin: 0 auto;
            padding-top: 0.5rem;
            display: flex;
            align-items: center;
            i{
                  font-size: 30px;
                  padding-right: 0.5rem;
            }
      }

      p{
            padding: 2rem 0;
            text-align: center;
      }

      .email-form{
            width: 50%;
            margin: 0 auto;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 7px;
            ul{
                  list-style-type: none;
                  width: 70%;
                  li{
                        position: relative;
                        margin: 1.75rem 0;
                        label{
                              position: absolute;
                              top: -12px;
                              left: 50%;
                              transform: translateX(-50%);
                              background: #fff;
                              border: 1px solid #ddd;
                              border-radius: 7px;
                              color: #999;
                              padding: 0 0.4rem;
                              cursor: text;
                              transition: 200ms ease;
                        }
                        input{
                              width: 100%;
                              @extend %field;
                        }
                  }
            }
            textarea{
                  display: block;
                  width: 100% !important;
                  min-height: 150px;
                  @extend %field;
            }

            .buttons{
                  width: 70%;
                  display: flex;
                  button, a{
                        width: 50%;
                        margin: 0;
                        background: #0071c5;
                        color: #fff;
                        font-size: 16px;
                        border: 0;
                        padding: 0.5rem;
                        justify-content: center;
                        cursor: pointer;
                        transition: 200ms;
                        &:hover{
                              filter: brightness(110%);
                        }
                  }
                  .gmail-btn{
                        background: #d54b3d;
                  }
            }

            :focus{
                  outline: 0;
                  border: 1px solid $green;
            }
      }
}