@media (max-width: 1500px){
      .icons{
            top: initial;
            bottom: 3rem;
            left: 50%;
            right: 0;
            transform: translate(-50%, 0);
            text-align: center;
            display: flex;
            justify-content: center;
            width: 100%;
            a{
                  padding: 0 1rem;
            }
      }

      .projects{
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "first first"
                                                      "second third";
            figure:nth-child(1){
                  grid-area: first;
                  width: 50%;
                  margin: 0 auto;
            }
            figure:nth-child(2){
                  grid-area: second;
            }
            figure:nth-child(3){
                  grid-area: third;
            }
      }

      .about{
            .about-text{
                  width: 60%;
            }
      }
}

@media (max-width: 900px){
      .home{
            .intro{
                  width: 90%;
                  text-align: center;
                  h1::before{
                        width: 100%;
                        left: 0;
                        text-align: center;
                  }
            }

            .home-nav ul{
                  flex-direction: row;
                  flex-wrap: wrap;
                  height: auto;
                  li, li a{
                        padding: 0.5rem 2.5rem;
                  }
            }
      }

      .projects{
            grid-template-columns: 1fr;
            grid-template-areas: "first first"
                                                      "second second"
                                                      "third third";
            figure{
                  figcaption{
                        left: -50%;
                        transition: left 300ms !important;
                  }
                  &:hover figcaption{
                        left: 50%;
                  }
                  &:nth-child(1){
                        width: 100%;
                  }
            }
      }

      .about{
            flex-direction: column-reverse;
            .about-text{
                  width: 85%;
                  padding-top: 2rem;
                  padding-right: 0;
            }
            .about-img{
                  text-align: center;
            }
      }

      .contact{
            a{
                  width: 70%;
            }
      }

      .section-divider{
            margin: 3rem 0;
            padding: 5rem 0;
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            h1{
                  width: 18.5rem;
            }
      }
}