@import url('https://fonts.googleapis.com/css?family=Raleway:200,500');

$blue: #03a9f4;
$green: #1bffb3;

*{
      padding: 0;
      margin: 0;
      font-family: 'Raleway', sans-serif;
      box-sizing: border-box;
}

html, body{
      height: 100%;
}

::selection{
      background: $green;
}

.section-divider{
      font-size: 2rem;
      padding: 5rem 0;
      text-align: center;
}

@import 'home.scss';
@import 'projects.scss';
@import 'about.scss';
@import 'mediaQueries.scss';
