@import url('https://fonts.googleapis.com/css?family=Nunito:200,400');

$blue: #03a9f4;
$green: #1bffb3;

*{
      padding: 0;
      margin: 0;
      font-family: 'Nunito', sans-serif;
      box-sizing: border-box;
}

html, body{
      height: 100%;
}

.btn{
  padding: 0.75rem 2rem;
  background: linear-gradient(120deg, $blue, $green);
  background-size: 200%;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.05rem;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  animation: fadeOut 500ms;
  
  &:hover{
    animation: fadeIn 500ms forwards;
  }

  @keyframes fadeIn {
    from { background-position: 0px }
    to{ background-position-x: -50px }
  }
  @keyframes fadeOut {
    from { background-position: -50px }
    to{ background-position-x: 0px }
  }
}

#success { 
  display: none;

  &:target{
    display: block;
    position: relative;
    margin-bottom: 1rem;
    background: $green;
    padding: 1rem;
  
    h1{
      font-size: 1rem;
      text-align: left;
      margin-bottom: 0.3rem;
    }

    p{
      padding: 0;
    }

    a{
      position: absolute;
      line-height: 0;
      width: auto;
      top: 5px;
      right: 5px;
      text-decoration: none;
      font-size: 1.2rem;
    }
  }
}

::selection{
      background: $green;
      color: #333;
}

.section-divider{
      font-size: 2rem;
      padding: 10rem 0;
      margin: 5rem 0;
      text-align: center;
      clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
      background: #fafafa;
      h1{
            background: linear-gradient(-50deg, $green, $blue);
            width: 30rem;
            border-radius: 25px;
            padding: 25px;
            margin: 0 auto;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            box-shadow: 0 4px 5px #eee;
      }
}

.icons{
      position: absolute;
      right: 12rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4rem;
      a{
            display: block;
            text-decoration: none;
            color: #f1f1f1;
            font-size: 3rem;
            padding: 1rem 0;
            text-align: center;
            transition: 200ms;
            filter: drop-shadow(0 1px 1px rgba(0,0,0,0.3));
            &:hover{
                  color: #fff;
                  margin-right: 0.3rem;
            }
      }
}

@import 'home.scss';
@import 'projects.scss';
@import 'about.scss';
@import 'contact.scss';
@import 'mediaQueries.scss';
