@import url("https://fonts.googleapis.com/css?family=Nunito:200,400");
* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

::selection {
  background: #1bffb3;
  color: #333;
}

.section-divider {
  font-size: 2rem;
  padding: 10rem 0;
  margin: 5rem 0;
  text-align: center;
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
  background: #fafafa;
}
.section-divider h1 {
  background: linear-gradient(-50deg, #1bffb3, #03a9f4);
  width: 30rem;
  border-radius: 25px;
  padding: 25px;
  margin: 0 auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 0 4px 5px #eee;
}

.icons {
  position: absolute;
  right: 12rem;
  top: 50%;
  transform: translateY(-50%);
  width: 4rem;
}
.icons a {
  display: block;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 3rem;
  padding: 1rem 0;
  text-align: center;
  transition: 200ms;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3));
}
.icons a:hover {
  color: #fff;
  margin-right: 0.3rem;
}

@keyframes background-gradient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
.home .home-nav ul li, .home .home-nav ul li a {
  transition: color 300ms;
}
.home .home-nav ul li:hover, .home .home-nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

.home {
  height: 100%;
  background: linear-gradient(120deg, #03a9f4, #1bffb3);
  background-size: 200% 100%;
  animation: background-gradient 5s linear infinite alternate;
  color: #fff;
}
.home .home-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}
.home .home-nav ul li {
  padding: 0.65rem 1.5rem;
}
.home .home-nav ul li:focus {
  outline: 0;
  background: rgba(255, 255, 255, 0.25);
}
.home .home-nav ul li, .home .home-nav ul li a {
  cursor: pointer;
  border-radius: 7px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.home .intro {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .intro h1 {
  font-size: 4.5rem;
}
.home .intro h1::before {
  content: "Front-end Developer";
  text-transform: uppercase;
  font-size: 1.13rem;
  position: absolute;
  top: -1rem;
  font-weight: 200;
  letter-spacing: 1px;
}
.home .intro p {
  padding-top: 1rem;
  font-size: 1.3rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.projects figure {
  position: relative;
}
.projects figure img {
  max-width: 100%;
}
.projects figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.projects figure figcaption h1, .projects figure figcaption p {
  padding-bottom: 1rem;
}
.projects figure figcaption a {
  text-decoration: none;
  color: #03a9f4;
}
.projects figure figcaption a:hover {
  text-decoration: underline;
}
.projects figure:hover {
  overflow: hidden;
}
.projects figure:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  transform: rotateZ(180deg);
  animation: hoverItem 300ms forwards;
}
@keyframes hoverItem {
  100% {
    transform: rotateZ(0deg);
    opacity: 0.95;
  }
}
.projects figure:hover figcaption {
  opacity: 1;
  width: 80%;
  text-align: center;
  transition: opacity 300ms;
  transition-delay: 300ms;
}
.projects figure:hover .actions {
  margin-top: 1rem;
}
.projects figure:hover .actions a {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: #03a9f4;
  background: #333;
  padding: 0.5rem;
  border-radius: 1rem;
}
.projects figure:hover .actions a:hover {
  background: #444;
}

.about {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
.about .about-text {
  width: 35%;
  padding-right: 1rem;
  align-self: center;
  line-height: 1.7;
}

.contact .email-form textarea, .contact .email-form ul li input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 7px;
}

.contact a {
  color: #333;
  display: block;
  text-decoration: none;
  width: 20%;
  margin: 0 auto;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}
.contact a i {
  font-size: 30px;
  padding-right: 0.5rem;
}
.contact p {
  padding: 2rem 0;
  text-align: center;
}
.contact .email-form {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
}
.contact .email-form ul {
  list-style-type: none;
  width: 70%;
}
.contact .email-form ul li {
  position: relative;
  margin: 1.75rem 0;
}
.contact .email-form ul li label {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
  color: #999;
  padding: 0 0.4rem;
  cursor: text;
  transition: 200ms ease;
}
.contact .email-form ul li input {
  width: 100%;
}
.contact .email-form textarea {
  display: block;
  width: 100% !important;
  min-height: 150px;
}
.contact .email-form button {
  width: 10rem;
  background: #03a9f4;
  color: #fff;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 2px 5px #999;
}
.contact .email-form :focus {
  outline: 0;
  border: 1px solid #1bffb3;
}

@media (max-width: 1500px) {
  .icons {
    top: initial;
    bottom: 3rem;
    left: 50%;
    right: 0;
    transform: translate(-50%, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .icons a {
    padding: 0 1rem;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "first first" "second third";
  }
  .projects figure:nth-child(1) {
    grid-area: first;
    width: 50%;
    margin: 0 auto;
  }
  .projects figure:nth-child(2) {
    grid-area: second;
  }
  .projects figure:nth-child(3) {
    grid-area: third;
  }

  .about .about-text {
    width: 60%;
  }

  .contact .email-form {
    width: 75%;
  }
}
@media (max-width: 900px) {
  .home .intro {
    width: 90%;
    text-align: center;
  }
  .home .intro h1::before {
    width: 100%;
    left: 0;
    text-align: center;
  }
  .home .home-nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
  .home .home-nav ul li, .home .home-nav ul li a {
    padding: 0.5rem 2.5rem;
  }

  .projects {
    grid-template-columns: 1fr;
    grid-template-areas: "first first" "second second" "third third";
  }
  .projects figure figcaption {
    left: -50%;
    transition: left 300ms !important;
  }
  .projects figure:hover figcaption {
    left: 50%;
  }
  .projects figure:nth-child(1) {
    width: 100%;
  }

  .about {
    flex-direction: column-reverse;
  }
  .about .about-text {
    width: 85%;
    padding-top: 2rem;
    padding-right: 0;
  }
  .about .about-img {
    text-align: center;
  }

  .contact a {
    width: 70%;
  }
  .contact .email-form {
    width: 100%;
  }

  .section-divider {
    margin: 3rem 0;
    padding: 5rem 0;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
  .section-divider h1 {
    width: 18.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
