@import url("https://fonts.googleapis.com/css?family=Raleway:200,500");
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

::selection {
  background: #1bffb3;
}

.section-divider {
  font-size: 2rem;
  padding: 5rem 0;
  text-align: center;
}

@keyframes background-gradient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
.header .intro i, .header .header-nav ul li a {
  transition: color 300ms;
}
.header .intro i:hover, .header .header-nav ul li a:hover {
  color: #efefef;
}

.icons-mobile {
  display: none;
}

.header {
  height: 100%;
  background: linear-gradient(120deg, #03a9f4, #1bffb3);
  background-size: 200% 100%;
  animation: background-gradient 5s linear infinite alternate;
  color: #fff;
}
.header .header-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}
.header .header-nav ul li a {
  padding: 0 1.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}
.header .intro {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .intro h1 {
  font-size: 4.5rem;
}
.header .intro h1::before {
  content: "Front-end Developer";
  text-transform: uppercase;
  font-size: 1.13rem;
  position: absolute;
  top: -1rem;
  font-weight: 200;
  letter-spacing: 1px;
}
.header .intro .icons {
  float: right;
}
.header .intro i {
  font-size: 0.75em;
  color: #fff;
  padding: 0 1rem;
}
.header .intro p {
  padding-top: 1rem;
  font-size: 1.3rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.projects figure {
  position: relative;
}
.projects figure img {
  max-width: 100%;
}
.projects figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.projects figure figcaption h1, .projects figure figcaption p {
  padding-bottom: 1rem;
}
.projects figure figcaption a {
  text-decoration: none;
  color: #03a9f4;
}
.projects figure figcaption a:hover {
  text-decoration: underline;
}
.projects figure:hover {
  overflow: hidden;
}
.projects figure:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
  opacity: 0;
  transform: rotateZ(180deg);
  animation: hoverItem 300ms forwards;
}
@keyframes hoverItem {
  100% {
    transform: rotateZ(0deg);
    opacity: 0.95;
  }
}
.projects figure:hover figcaption {
  opacity: 1;
  width: 80%;
  text-align: center;
  transition: opacity 300ms;
  transition-delay: 300ms;
}
.projects figure:hover .actions {
  margin-top: 1rem;
}
.projects figure:hover .actions a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #03a9f4;
  background: #333;
  padding: 0.5rem;
  border-radius: 1rem;
}
.projects figure:hover .actions a:hover {
  background: #444;
}

.about {
  display: flex;
  justify-content: center;
}
.about .about-text {
  width: 35%;
  padding-right: 1rem;
  align-self: center;
  line-height: 1.7;
}

.contact a {
  color: #333;
  display: block;
  text-decoration: none;
  width: 20%;
  margin: 0 auto;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
}
.contact a i {
  font-size: 30px;
  padding-right: 0.5rem;
}
.contact p {
  padding: 2rem 0;
  text-align: center;
}

@media (max-width: 1500px) {
  .icons {
    display: none;
  }

  .icons-mobile {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 4rem;
    font-size: 4.5rem;
  }
  .icons-mobile i {
    color: #fff;
    padding: 0 1rem;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
  }

  .about .about-text {
    width: 60%;
  }
}
@media (max-width: 900px) {
  .header .intro {
    width: 90%;
    text-align: center;
  }
  .header .intro h1::before {
    width: 100%;
    left: 0;
    text-align: center;
  }
  .header .header-nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
  .header .header-nav ul li {
    padding: 0.5rem 0;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .about {
    flex-direction: column-reverse;
  }
  .about .about-text {
    width: 85%;
    padding-top: 2rem;
    padding-right: 0;
  }
  .about .about-img {
    text-align: center;
  }

  .contact a {
    width: 70%;
  }
}

/*# sourceMappingURL=styles.css.map */
